streamlit
python-dotenv
langchain-core>=0.3.12
langchain-community>=0.3.12
langchain-groq>=0.1.9
langchain-chroma>=0.1.4
langchain-huggingface>=0.1.2
chromadb==0.4.24
sentence-transformers==2.7.0
numpy==1.26.4
pypdf==4.3.0
tiktoken
requests
